h2, h4, h6 {
  display: inline-block;
}

h4{
  font-family: 'Pacifico', cursive;
  font-size: 270%;


}

.navbar li{
  display: inline-block !important;
  font-family: 'Pacifico', cursive;
  font-size: 120%;
}
