<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand">
      <h2 class="logo">
        <i class="fa fa-balance-scale fa-3x "></i>
      </h2>
      <h4 class="logo-text">{{title}}</h4>
    </a>
    <ul class="nav">
      <li><a class="btn btn-link" (click)="goToMealsView()" style="font-size:100%">Home</a></li>
      <li><a class="btn btn-link" (click)="goToHistoryView()" style="font-size:100%">Meals history</a></li>
      <li><a class="btn btn-link" (click)="goToAdditionView()" style="font-size:100%">Add meal to list</a></li>
      <li><a [hidden]="isUSerLoggedIn()" class="btn btn-link"  (click)="logIn()" style="font-size:100%">Sign in</a></li>
      <li>

          <a [hidden]="!isUSerLoggedIn()" class="btn btn-link"  (click)="logOut()" style="font-size:100%">Sign out [{{getUsername()}}]</a>
      </li>

    </ul>
  </div>
</nav>
<div class="container-fluid row">
  <div class="offset-3 col-md-6 main-content">
    <app-meals-history [hidden]="currentView!='HISTORY'"></app-meals-history>
    <app-meal-addition [hidden]="currentView!='ADDITION'"></app-meal-addition>
    <app-meals [hidden]="currentView!='MEALS'"></app-meals>
    <app-login [hidden]="currentView!='SIGNIN'"></app-login>
  </div>
</div>
