<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron h-100">
  <div class="row container">
    <div class="col-md-8">
      <div class="row">
      <p class="labels">Name:</p><p class="items"> {{meal.name}}</p>
      </div>
      <div class="row">
        <p class="labels">Ingredients:</p><p class="items">{{meal.ingredients}}</p>
      </div>
      <div class="row">
        <p class="labels">Calories:</p><p class="items"> {{meal.calories}} [kCal]</p>
      </div>
      <div class="row">
        <p class="labels">Carbs:</p><p class="items"> {{meal.makro[0]}} [g] </p>
        <p class="labels">Protein:</p><p class="items"> {{meal.makro[1]}} [g] </p>
        <p class="labels">Sugars:</p><p class="items"> {{meal.makro[2]}} [g] </p>
      </div>
    </div>
    <div class="col-md-4 align-self-center">
      <button class="btn btn-secondary" (click)="open()">Add to your plan</button>
    </div>
    <img src={{this.getImageUlr()}}>
    </div>
</div>

